body {
  margin: 0;
  padding: 0;
}
div#wrapper {
  width: 760px;
  margin: 0 auto;
}
div#header {
  height: 80px;
}
div#header h1 {
  margin: 0;
  padding: 20px;
}
.headerTable {
  width: 200px;
}
.header_left {
  margin-right: 300px;
}

.logo_ohara {
  width: 210px;
}

h1.logo {
  padding: 0;
}

.ticket_logo {
  width: 53px;
}

.login_logo {
  width: 53px;
}

.icon_table01 {
  float: left;
}

.icon_table02 {
  float: left;
}

.header_right {
  float: left;
}